/*
=============== 
Google Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
=============== 
variables 
===============
*/

:root {
    --clr-primary-p: hsl(259, 100%, 65%);
    --clr-primary-r: hsl(0, 100%, 67%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 94%);

    --clr-neutral-400: hsl(0, 0%, 86%);
    --clr-neutral-500: hsl(0, 1%, 44%);

    --clr-neutral-700: hsl(0, 0%, 8%);

    --ff-base: "Poppins", sans-serif;
    --fs-mobile: 1rem;
    --fs-desktop: 2rem;
}

/*
=============== 
css reset
===============
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/*
=============== 
General css
===============
*/

body {
    font-family: var(--ff-base);
    font-size: var(--fs-mobile);
    font-weight: 700;
    min-height: 100vh;
    background-color: var(--clr-neutral-200);
    padding: 5rem 1rem;
}

.card {
    background-color: var(--clr-neutral-100);
    padding: 3rem;
    border-radius: 1.5em;
    border-bottom-right-radius: 10em;
    max-width: 40rem;
    min-width: 343px;
    margin: 0 auto;
}

.card__inputs {
    display: flex;
    gap: 1rem;
    width: 80%;
    margin-right: auto;
}

.input-control {
    width: 30%;
}

label {
    display: block;
    color: var(--clr-neutral-500);
    font-weight: inherit;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    margin-bottom: 0.5em;
}

input {
    font-size: 2rem;
    font-weight: inherit;
    color: var(--clr-neutral-700);
    width: 100%;
    padding: 0.75rem;
    padding-left: 1.5rem;
    border: 1px solid var(--clr-neutral-400);
    border-radius: 0.3em;
}

input:focus {
    border: 3px solid var(--clr-primary-p);
    outline: none;
}

.error-msg {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 500;
    color: var(--clr-primary-r);
    margin-top: 0.75rem;
    display: none;
    /* do you need this line ? */
    /* text-transform: none; */
}

input::placeholder {
    font-size: var(--fs-mobile);
    font-size: 1.5rem;
}

.btn-content {
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    border-bottom: 1px solid var(--clr-neutral-400);
}

.card__btn {
    background-color: var(--clr-primary-p);
    padding: 1rem;
    margin: 1.5rem auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease;
}

.card__btn:hover {
    background-color: var(--clr-neutral-700);
    transform: scale(1.1);
}
.card__output p {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    height: min-content;
    line-height: 1.1;
}

p span {
    color: var(--clr-primary-p);
}

@media (max-width: 600px) {
    .card {
        border-bottom-right-radius: 5rem;
        padding: 3rem 1rem;
    }

    .card__inputs {
        margin: 0;
        width: 100%;
    }

    input {
        padding: 0.5rem;
    }

    .btn-icon {
        width: 6rem;
    }

    .line-sec {
        border: 1px solid var(--clr-neutral-200);
        width: 100%;
    }

    .card__output p {
        font-size: 3.5rem;
    }

    .error-msg {
        font-size: 0.7rem;
    }
}

/*
=============== 
Error Handling
===============
*/

.input-control.error input {
    border-color: var(--clr-primary-r);
}

.input-control.error label {
    color: var(--clr-primary-r);
}

.input-control.error .error-msg {
    display: block;
}
