/*
=============== 
Google Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/*
=============== 
variables 
===============
*/

:root {
    --clr-primary-ornge: hsl(35, 77%, 62%);
    --clr-primary-red: hsl(5, 85%, 63%);

    --clr-neutral-100: hsl(36, 100%, 99%);

    --clr-neutral-400: hsl(233, 8%, 79%);
    --clr-neutral-500: hsl(236, 13%, 42%);

    --clr-neutral-700: hsl(240, 100%, 5%);

    --ff-base: "Inter", sans-serif;

    --transition: all 0.2s linear;
}

/*
=============== 
css reset
===============
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
    /* height: auto; */
    user-select: none;
}

ul {
    list-style: none;
}

a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    transition: all 250ms;
}

a:is(:focus, :hover) {
    color: var(--clr-primary-red);
}

/*
=============== 
CSS
===============
*/

body {
    font-family: var(--ff-base);
    font-size: 0.9375rem;
    color: var(--clr-neutral-500);
    line-height: 1.7;
    padding: 0 1rem 5rem 1rem;
}

header {
    padding: 2rem 0;
}

.nav-header {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open-nav-btn,
.close-nav-btn {
    user-select: none;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

/*
/////////////////////////////////
    Active Mobile Navigation
/////////////////////////////////
*/

.active-body {
    overflow: hidden;
}

.active-body .nav {
    position: fixed;
    height: 100vh;
    width: 30vw;
    top: 0;
    right: 70vw;
    background-color: rgb(0, 0, 26, 0.4);
    transition: var(--transition);
}

.active-body .navigation {
    position: fixed;

    background-color: var(--clr-neutral-100);
    height: 100vh;
    width: 70vw;
    top: 0;
    right: 0;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;

    z-index: 2;
    transition: var(--transition);
}

.links {
    display: none;
}

.active-body .links {
    /* visibility: hidden; */
    /* transform: translateX(100%); */
    /* opacity: 0; */

    display: initial;
    color: var(--clr-neutral-700);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 2rem;
    margin-top: 20vh;
    /* orgnazation of the list */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.close-nav-btn {
    display: none;
}

.active-body .close-nav-btn {
    display: initial;
    position: fixed;
    top: 2rem;
    right: 2rem;
}

/*
=============== 
    Intro Section
===============
*/

.intro-section__img {
    margin-bottom: 2rem;
}

.intro-section__title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--clr-neutral-700);
    line-height: 1;
    margin-bottom: 1rem;
}

.intro-section__description {
    margin-bottom: 1.5rem;
}

.readmore-btn {
    display: inline-block;
    padding: 0.75rem 2rem;
    background-color: var(--clr-primary-red);
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--clr-neutral-100);
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition);
}

.readmore-btn:is(:focus, :hover) {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-100);
}

/*
============================== 
    Aside Section
============================== 
*/

aside {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-400);
    padding: 1.5rem 1rem;
}

aside h2 {
    color: var(--clr-primary-ornge);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

aside h3 {
    color: var(--clr-neutral-100);
    margin-bottom: 0.5rem;
}

aside a:is(:focus, :hover) {
    color: var(--clr-primary-ornge);
}

aside div {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-neutral-500);
    margin-bottom: 2rem;
}

aside div:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

/*
============================================= 
    Articles Section
============================================= 
*/

.articles-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--clr-neutral-500);
}

.articles-section__article {
    display: flex;
    justify-content: space-between;
}

.article__img {
    width: 30%;
    object-fit: cover;
}

.article__body {
    width: 65%;
}

.article__body span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-neutral-400);
}

.article__body h3 {
    font-weight: 800;
    color: var(--clr-neutral-700);
}

/*
============================================================
media Queries: SCREEN SIZE OVER 800px
============================================================
*/

@media (min-width: 850px) {
    body {
        font-size: 1rem;
    }

    header {
        padding: 4rem 0;
        font-size: 1.1rem;
    }

    .container {
        max-width: 72rem;
        margin: 0 auto;
    }

    /* ========= navigation ========= */
    .open-nav-btn {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    .links {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .links li {
        margin-left: 1rem;
    }

    /* ================== main layout ================== */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 4rem auto;
        align-items: initial;
        gap: 0;
        grid-template-areas:
            "intro  intro aside"
            ". . ."
            "articles articles articles";
    }

    .intro-section {
        grid-area: intro;
    }

    .intro-section__title {
        font-size: 5rem;
    }

    /* =========================== aside =========================== */
    aside {
        grid-area: aside;
        padding: 2em 1.5rem;
        max-width: 24rem;
        margin-left: 2rem;
    }

    /* ==================================== articles =========================== */
    .articles-section {
        grid-area: articles;
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "art1 art2 art3";
        gap: 0;
    }

    .art1,
    .art2 {
        padding-right: 1rem;
        /* width: max-content; */
        max-width: 24rem;
    }

    .art1 {
        grid-area: art1;
    }

    .art2 {
        grid-area: art2;
    }

    .art3 {
        grid-area: art3;
        /* width: max-content; */
        margin-left: 2rem;
        max-width: 22rem;
    }
    .article__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .intro-section__body {
        display: flex;
        gap: 0;
        justify-content: space-between;
    }

    .intro-section__title {
        font-size: 3.5rem;
        width: 40%;
        margin-bottom: 0;
    }

    .intro-section__body div {
        width: 50%;
    }
}
