:root {
  --clr-Primary-dark: hsl(300, 43%, 22%);
  --clr-Primary-soft: hsl(333, 80%, 67%);

  --clr-neutral-600: hsl(303, 10%, 53%);
  --clr-neutral-400: hsl(300, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: 0.9375rem;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  padding: 3rem 1rem;
  line-height: 1.5;
}

.title {
  color: var(--clr-Primary-dark);
  font-size: 2.3rem;
  font-size: 700;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ratings,
.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating {
  background-color: var(--clr-neutral-400);
  padding: 1rem;
  border-radius: 7px;
}

.rating p {
  color: var(--clr-Primary-dark);
  font-weight: 700;
  font-size: 1.3rem;
}

.review {
  background-color: var(--clr-Primary-dark);
  color: var(--clr-neutral-100);
  padding: 1.5rem;
  border-radius: 7px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
}

.review__head {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.review__head img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review__head--meta-info p:first-of-type {
  font-weight: 700;
  letter-spacing: 1px;
}

.review__head--meta-info p:last-of-type {
  color: var(--clr-neutral-400);
  opacity: 0.7;
}

@media (min-width: 500px) {
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 5rem; */
    grid-template-rows: 50% auto;
    grid-template-areas:
      "header  ratings "
      "reviews  reviews";
  }

  header {
    grid-area: header;
    text-align: left;
    place-self: center;
  }

  .title {
    font-size: 3rem;
  }

  .ratings {
    grid-area: ratings;
    justify-content: center;
    max-width: 40rem;
    justify-self: center;
  }

  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .rt1 {
    align-self: flex-start;
  }

  .rt2 {
    align-self: center;
  }

  .rt3 {
    align-self: flex-end;
  }

  .reviews {
    grid-area: reviews;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
